In [3]:
import pandas as pd
import wget
import sqlalchemy

## download data

In [4]:
# download the data
# url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"
# wget.download(url, 'yellow_tripdata_2021-01.csv.gz')

## read gzip file as df

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip')
df.__len__()

/var/folders/4c/ct381czn7hl17lhx_r3htm_40000gn/T/ipykernel_5911/3922595334.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip')

1369765

## print the "create table" sql command based on df columns and types, which can be used to build tables. Otherwise, can also use 

`df.to_sql(name='yellow_tripdata_trip', con=engine, index=False,if_exists='replace')`

## to build tables based on dataframe

In [17]:
print(pd.io.sql.get_schema(df,name="yellow_tripdata_2021"))

CREATE TABLE "yellow_tripdata_2021" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

## convert tpep_pickup_datetime and tpep_dropoff_datetime to timestamp

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
print(pd.io.sql.get_schema(df,name="yellow_tripdata_2021"))

CREATE TABLE "yellow_tripdata_2021" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

## connect to postgresql database (start the docker container first), then explore the data with pandas

In [13]:
engine = sqlalchemy.create_engine('postgresql://root:root@localhost:5430/ny_taxi')
engine.connect()

In [14]:
query = """
select 1 as number;
"""
pd.read_sql(query,con=engine)

   number
0       1

In [15]:
# equals to \dt
query = """
select *
from pg_catalog.pg_tables
where schemaname != 'pg_catalog' and 
schemaname != 'information_schema'
"""
pd.read_sql(query,con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False

## save df as a table to postgresql db

In [16]:
df = df.head(100)
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False,if_exists='replace')

100

## insert the data into postgresql chunck by chunck

In [41]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', chunksize=100000, iterator=True)

In [42]:
df_iter

In [43]:
df = next(df_iter)

In [44]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [45]:
df.head(0).to_sql('yellow_taxi_data', engine, if_exists='replace', index=False)

0

In [46]:
df.to_sql('yellow_taxi_data', engine, if_exists='append', index=False)

1000

In [47]:
query = """
select count(1) as number
from yellow_taxi_data;
"""
pd.read_sql(query,con=engine)

   number
0  100000

In [48]:
from time import time
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql('yellow_taxi_data', engine, if_exists='append', index=False)
    t_end = time()
    print('insert another chunck... took %.3f seconds' % (t_end - t_start))

insert another chunck... took 18.927 seconds
insert another chunck... took 19.056 seconds
insert another chunck... took 19.974 seconds
insert another chunck... took 20.704 seconds
insert another chunck... took 19.097 seconds
insert another chunck... took 20.793 seconds
insert another chunck... took 21.910 seconds
insert another chunck... took 21.613 seconds
insert another chunck... took 19.507 seconds
insert another chunck... took 22.670 seconds
insert another chunck... took 21.031 seconds

/var/folders/4c/ct381czn7hl17lhx_r3htm_40000gn/T/ipykernel_5911/2533440737.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

insert another chunck... took 20.772 seconds
insert another chunck... took 12.495 seconds

StopIteration:

In [13]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [49]:
query = """
select count(1) as number
from yellow_taxi_data;
"""
pd.read_sql(query,con=engine)

    number
0  1369765